<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.p2m.example.main">

    <application
        android:label="Main模块"
        android:name="com.p2m.example.main.MainApp"
        >

        <activity android:name="com.p2m.example.main.ui.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.p2m.example.main.ui.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask" />
    </application>

</manifest>