<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.p2m.example.appb">

    <application
        android:name="com.p2m.example.appb.MyBApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="P2M example app-b"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.p2m.example.appb.SplashBActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>
</manifest>