<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.p2m.example.account">

    <application
        android:label="Login模块"
        android:name="com.p2m.example.account.LoginApp"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        >

        <activity android:name="com.p2m.example.account.pre_api.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>